@import "tailwindcss";

/* reusable styles */
.input {
  width: 100%;
  border: 1px solid #d1d5db;
  padding: 10px;
  border-radius: 8px;
}

.btn-primary {
  width: 100%;
  background-color: #10b981;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.btn-outline {
  width: 100%;
  border: 2px solid #10b981;
  color: #10b981;
  padding: 10px;
  border-radius: 10px;
}